@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background: #efefef;
  color: #333333;
  font-size: 14px;
}

.header-wrapper {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 10px;
}
.header-list li {
  margin-left: 10px;
  margin-right: 10px;
}
.header-list a {
  text-decoration: none;
  color: #333333;
}

.header__top {
  background-color: #fff;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0px;
}

.logo-image {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url(../img/logo/logo.svg);
  margin-right: 10px;
}

.header-logo__text {
  color: #66c05d;
  font-size: 36px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__info {
  font-size: 16px;
}
.header-logo__info button {
  font-size: 14px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #66c05d;
  padding: 10px 15px;
  margin-left: 45px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #66c05d;
}

hr {
  border: none;
  background-color: #efefef;
  height: 1px;
}

.header-bottom {
  padding: 15px 0;
}

.header-bottom .header-list {
  font-size: 16px;
  margin: 0px;
}

.banner {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 150px;
  padding-bottom: 150px;
  color: #fff;
}
.banner p {
  margin-bottom: 50px;
  max-width: 315px;
}

.title {
  font-size: 48px;
  font-weight: 700;
}

.btn {
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #333333;
}

.bg-white {
  background-color: #fff;
}

.bg-green {
  background-color: #66c05d;
  color: #fff;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-green-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.bg-green-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  text-align: center;
}

.bg-green h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0px;
}

.bg-green .btn {
  display: block;
  text-align: center;
  max-width: 150px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 30px;
}

.grid-item-title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.grid-item-img {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
}

.grid-item-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.grid-item-right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.title-h2 {
  font-size: 24px;
  font-weight: 700;
}

.grid-item-catalog {
  text-align: center;
  padding: 15px 30px;
}

.grid-item-catalog .bg-white {
  padding: 15px 30px;
}

.grid-price {
  font-size: 21px;
  font-weight: 500;
}

.grid-btn {
  border-radius: 20px;
  background-color: #66c05d;
  border: 2px solid #66c05d;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.bg-green input {
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 15px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #828282;
  padding: 15px 0;
}

.footer-bottom p {
  margin: 0;
}

.footer-bottom a {
  color: #828282;
  text-decoration: none;
}

.footer-info {
  font-size: 16px;
  margin-left: 35px;
}
.footer-info button {
  font-size: 14px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #66c05d;
  padding: 10px 15px;
  margin-left: 45px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

button:hover {
  background-color: #66c05d;
}

.social-link {
  border: 2px solid #66c05d;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-left: 0px;
}

.social-item {
  margin-right: 20px;
}

.social-youtube {
  background-image: url(../img/logo/youtubeicon.svg);
}

.social-vk {
  background-image: url(../img/logo/vkicon.svg);
}

.social-facebook {
  background-image: url(../img/logo/facebookicon.svg);
}

.social-instagram {
  background-image: url(../img/logo/instagramicon.svg);
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}