@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background: #efefef;
  color: #333333;
  font-size: 14px;
}

.wrapper {
  max-width: 1110px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 4px 0px;
  margin-bottom: 4px;
}
.nav li {
  margin: 0px 15px 10px 15px;
}
.nav a {
  text-decoration: none;
  color: #333333;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav a:hover {
  color: #66c056;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px 12px 0px;
}
.header-logo__image {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url(../img/logo/logo.svg);
  margin-right: 20px;
}
.header-logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #66c056;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
}
.header-logo__info {
  font-size: 16px;
}

.header-top {
  padding-top: 4px;
}

.header-bottom {
  padding: 20px 0px 17px 0px;
}
.header-bottom .nav {
  font-size: 16px;
  margin: 0px;
}
.header-bottom .nav li {
  margin: 0px 20px 10px 20px;
}

button {
  font-size: 14px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #66c056;
  padding: 10px 25px;
  margin-left: 35px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
button:hover {
  background-color: #66c056;
}

hr {
  border: none;
  background-color: #efefef;
  height: 1px;
}

.bg-white {
  background-color: #fff;
}

.bg-green {
  background-color: #66c056;
  color: #fff;
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bg-green input {
  font-size: 14px;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 10px 15px;
}
.bg-green .banner__btn {
  display: block;
  text-align: center;
  max-width: 150px;
}
.bg-green__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}
.bg-green__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  text-align: center;
}

.banner {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 159px;
  padding-bottom: 206px;
  color: #fff;
}
.banner p {
  max-width: 315px;
  margin-bottom: 57px;
  line-height: 1.5;
}

.banner__btn {
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 48px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.banner__btn:hover {
  background-color: #fff;
  color: #333333;
}

.title__h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 38px;
}
.title__h2 {
  font-size: 24px;
  font-weight: 700;
}
.title__h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 30px;
}

.grid-item__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.grid-item__img {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
}
.grid-item__left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.grid-item__right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}
.grid-item__catalog {
  text-align: center;
}
.grid-item__catalog .bg-white {
  padding: 24px 30px 34px 30px;
}

.catalog {
  padding: 60px 0px 133px 0px;
}
.catalog__title {
  line-height: 1.5;
  margin-bottom: 0px;
}
.catalog__thumb {
  margin-bottom: 14px;
}
.catalog__price {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 14px 0px 24px 0px;
}
.catalog__btn {
  border-radius: 30px;
  background-color: #66c056;
  border: 2px solid #66c056;
  color: #fff;
  text-decoration: none;
  padding: 7px 41px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-left: 0px;
}
.social-list li {
  margin-right: 20px;
}
.social-list a {
  border: 2px solid #66c056;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.social-list__youtube {
  background-image: url(../img/logo/youtubeicon.svg);
}
.social-list__vk {
  background-image: url(../img/logo/vkicon.svg);
}
.social-list__facebook {
  background-image: url(../img/logo/facebookicon.svg);
}
.social-list__instagram {
  background-image: url(../img/logo/instagramicon.svg);
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-top__info {
  font-size: 16px;
  margin-left: 35px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #828282;
  padding: 15px 0;
}
.footer-bottom p {
  margin: 0;
}
.footer-bottom a {
  color: #828282;
  text-decoration: none;
}

.none {
  height: 500px;
}