@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background: #efefef;
  color: #333333;
  font-size: 14px;
}

.wrapper {
  max-width: 1110px;
  padding: 0px 15px 0px 15px;
  margin: 0 auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
  padding: 4px 0px;
  margin-bottom: 4px;
}
.nav li {
  margin: 0px 15px 10px 15px;
}
.nav a {
  text-decoration: none;
  color: #333333;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav a:hover {
  color: #66c056;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px 12px 0px;
}
.header-logo__image {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url(../img/logo/logo.svg);
  margin-right: 20px;
}
.header-logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo__text a {
  color: #66c056;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
  text-decoration: none;
}
.header-logo__info {
  font-size: 16px;
}

.header-top {
  padding-top: 4px;
}

.header-bottom {
  padding: 20px 0px 17px 0px;
}
.header-bottom .nav {
  font-size: 16px;
  margin: 0px;
}
.header-bottom .nav li {
  margin: 0px 20px 10px 20px;
}

.button {
  font-size: 14px;
  text-decoration: none;
  color: #333333;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #66c056;
  padding: 10px 25px;
  margin-left: 35px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.button:hover {
  background-color: #66c056;
}

hr {
  border: none;
  background-color: #efefef;
  height: 1px;
}

.bg-white {
  background-color: #fff;
}

.bg-green {
  background-color: #66c056;
  color: #fff;
  padding: 34px 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bg-green p {
  line-height: 1.5;
  margin-bottom: 25px;
}
.bg-green .banner__btn {
  display: block;
  text-align: center;
  max-width: 167px;
  padding: 9px 0px;
}
.bg-green__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
}
.bg-green__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  text-align: center;
}

.input {
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 15px;
  width: 100%;
  max-width: 225px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.input:focus {
  outline: none;
}

.banner {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 159px;
  padding-bottom: 206px;
  color: #fff;
}
.banner p {
  max-width: 315px;
  margin-bottom: 57px;
  line-height: 1.5;
}

.banner__btn {
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 48px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
.banner__btn:hover {
  background-color: #fff;
  color: #333333;
}

.title__h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 38px;
}
.title__h2 {
  font-size: 24px;
  font-weight: 700;
}
.title__h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 16px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 30px;
}

.grid-item__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}
.grid-item__img {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  text-align: center;
}
.grid-item__left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin-top: 80px;
}
.grid-item__right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin-top: 80px;
}
.grid-item__catalog {
  text-align: center;
}
.grid-item__catalog .bg-white {
  padding: 24px 30px 34px 30px;
}

.catalog {
  padding: 60px 0px 133px 0px;
}
.catalog__title {
  line-height: 1.5;
  margin-bottom: 0px;
}
.catalog__thumb {
  margin-bottom: 14px;
}
.catalog__price {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 14px 0px 24px 0px;
}
.catalog__btn {
  border-radius: 30px;
  background-color: #66c056;
  border: 2px solid #66c056;
  color: #fff;
  text-decoration: none;
  padding: 7px 41px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}
.social-list li {
  margin-right: 20px;
}
.social-list a {
  border: 2px solid #66c056;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.social-list__youtube {
  background-image: url(../img/logo/youtubeicon.svg);
}
.social-list__vk {
  background-image: url(../img/logo/vkicon.svg);
}
.social-list__facebook {
  background-image: url(../img/logo/facebookicon.svg);
}
.social-list__instagram {
  background-image: url(../img/logo/instagramicon.svg);
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px 23px 0px;
}
.footer-top__info {
  font-size: 16px;
  margin-left: 35px;
}
.footer-top span:first-child {
  font-size: 14px;
  margin-right: 103px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  color: #828282;
  padding: 29px 0;
}
.footer-bottom p {
  margin: 0;
}
.footer-bottom a {
  color: #828282;
  text-decoration: none;
}

@media screen and (max-width: 1440px) {
  .bg-green {
    height: 150px;
  }

  .footer-top span:first-child {
    font-size: 14px;
    margin-right: 80px;
  }
}
@media screen and (max-width: 1023px) {
  .catalog {
    padding: 60px 0px 90px 0px;
  }

  .bg-green {
    display: block;
    height: 140px;
  }
  .bg-green__img {
    display: none;
  }

  .footer-top,
.footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 899px) {
  .catalog {
    padding: 20px 0px 70px 0px;
  }

  .grid {
    -ms-grid-columns: 1fr 30px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid-item__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    text-align: center;
  }

  .grid-item__img {
    display: none;
  }

  .grid-item__left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin-top: 20px;
  }

  .grid-item__right {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin-top: 20px;
  }
}
@media screen and (max-width: 742px) {
  .header-logo__image {
    width: 70px;
    height: 70px;
    background-image: url(../img/logo/logo.svg);
    background-size: cover;
    margin-right: 15px;
  }

  .header-bottom {
    padding: 15px 0px 14px 0px;
  }
  .header-bottom .nav {
    font-size: 14px;
  }
  .header-bottom .nav li {
    margin: 0px 15px 10px 15px;
  }

  .footer-top__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .footer-top__info span {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .footer-top__info span:first-child {
    margin-right: 0;
  }

  .footer-bottom p {
    font-size: 10px;
    padding: 10px;
    margin: 0;
  }
}
@media screen and (max-width: 700px) {
  .header-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-logo__text {
    margin-bottom: 20px;
  }

  .header-bottom {
    padding: 10px 0px 10px 0px;
  }
  .header-bottom .nav {
    font-size: 14px;
  }
  .header-bottom .nav li {
    margin: 0px 10px 10px 10px;
  }

  .grid-item__left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin-top: 20px;
  }

  .grid-item__right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0px 12px 0px;
  }
  .header-logo__image {
    display: block;
    width: 70px;
    height: 70px;
    margin-right: 15px;
  }
  .header-logo__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px;
  }
  .header-logo__info span {
    margin-bottom: 25px;
  }
  .header-logo__info .button {
    margin-left: 0px;
  }

  .header-bottom .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-align: center;
  }
  .header-bottom .nav li {
    padding: 10px 20px;
    margin: 0px 0px 0px 0px;
  }

  .banner {
    background-image: none;
    background-color: #66c05d;
    text-align: center;
    padding: 130px 0px;
  }
  .banner p {
    max-width: none;
    margin: 20px 15px 40px 15px;
  }

  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-item__title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    text-align: center;
  }

  .grid-item__img {
    display: none;
  }

  .grid-item__catalog {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }

  .grid-item__left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    margin-top: 20px;
  }

  .grid-item__right {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    margin-top: 20px;
  }

  .title__h1 {
    font-size: 30px;
  }
  .title__h2 {
    font-size: 18px;
  }
  .title__h3 {
    font-size: 16px;
  }

  .bg-green {
    height: 65%;
  }
  .bg-green p {
    margin-bottom: 15px;
  }
  .bg-green .banner__btn {
    width: 170px;
    max-width: none;
    margin: 0px auto;
  }
  .bg-green__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .footer-top__info span {
    margin-left: 10px;
  }
  .footer-top__info .button {
    margin: 0px 15px;
  }
}
.space {
  height: 50px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transition: all 0.5s ease-in 0s;
  transition: all 0.5s ease-in 0s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__content {
  position: relative;
  background-color: #66c056;
  color: #fff;
  max-width: 800px;
  padding: 30px;
  border: 1px solid #66c056;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.popup__close {
  position: absolute;
  font-size: 26px;
  top: 10px;
  right: 15px;
  color: #fff;
  text-decoration: none;
}

.popup__title {
  font-size: 40px;
  margin: 0 0 1em 0;
}

.popup__text .input {
  width: 250px;
  max-width: 100%;
  margin: 15px 0 30px 0;
  text-align: center;
}
.popup__text a {
  display: block;
  margin-top: 20px;
  margin-left: 0px;
}
.popup__text .button {
  font-size: 16px;
  color: #333333;
  background-color: #fff;
}
.popup__text .button:hover {
  background-color: #66c056;
  color: #fff;
  border: 2px solid #fff;
}